bundle/ack.vim bundle/badwolf bundle/Command-T bundle/fugitive.vim bundle/git.zip bundle/nerdcommenter bundle/nerdtree bundle/OmniCppComplete bundle/supertab bundle/vim-colors-solarized bundle/vim-powerline bundle/vundle
